@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
    width: 100%;
    height: 100%;
    font-family: Roboto;
}

.sidebar{
    background-color: #0284c7;
    color: white;

    grid-row: 1/3;
    display: grid;
    align-content: start;
    gap: 40px;
    padding: 10px;
}

.sidebar > div{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

a{
    text-decoration: none;
}

a:visited{
    color: white;
}

.icons{
    display: grid;
    align-items: center;
    justify-items: center;
}

.sidebar > div > *{
    align-content: center;
}

.dashboard{
    font-size: 1.5rem;
    font-weight: bold;
}

.menu,
.settings{
    font-size: 1rem;
    font-weight:bold;
}

.nav{
    display: grid;
    grid-template-columns: 5fr 1fr 2fr;
    gap: 10px;
    padding: 10px;
}

.search-bar{
    display: grid;
    grid-template-columns: 1fr 24fr;
    gap: 15px;
    padding: 10px;
}

.search-bar > div {
    align-content: center;
}

#magnifing{
    width: 70%;
    height: auto;
}

.notifications > svg{
    width: 12%;
    height: auto;
}

.notifications {
    display: grid;
    justify-items: end;
    align-content: center;
}

input{
    border-radius: 10px;
    height: 25px;
    width: 100%;
    border: none;
    background-color: #cdd2db;
    color: black;
    padding-left: 15px;
}

.user{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 4fr repeat(3, 1fr);
}

.icon{
    fill: white;
    height: 50%;

}

#dash{
    height: 100%;
}

.btn{
    background-color: #0284c7;
    color: white;
    border-radius: 15px;
    width: 75%;
    font-weight: bold;
    min-height: 65%;
    align-self: center;
}

.main-content{
    display: grid;
    grid-template-columns: 2.3fr 0.7fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    background-color: rgb(204, 210, 226);
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.projects-container{
    grid-row: 1/3;
}

.card{
    height: 200px;
    border-radius: 10px;
    border-left: solid orange 8px;
    background-color: white;
    
}

.content{
    padding: 10px;
    height: 100%;
    display: grid;
    grid-template-rows: 80% 20%;
}

.card-title{
    font-weight: bold;
}

.section-title{
    padding: 10px;
    /* font-weight: bold; */
    font-size: 1.3em;
}

.share .icon{
    fill: black;
    margin: 5px;
}

.share{
    text-align: right;
}

.announcements-section,
.trending-section{
    max-width: 250px;
    justify-self: center;
}

.announcements,
.trending{
    background-color: white;
    height: 85%;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgb(187, 184, 184);
    padding: 15px;
    display: grid;
    align-items: stretch;
}

.announce{
    font-size: 0.8em;
}

.user-trending{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.trending .user-trending{
    padding: 8px;
}

.user-info{
    display: grid;
}

.user-info span:last-child{
    font-size: 0.8em;
}

.user .user-info{
    font-weight: bold;
}

.profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-self: center;
}
